{% extends "layout.html" %}

{% block heading %}
    Find a book to read
{% endblock %}

{% block body %}
    <p>
        You don't know how to find an interesting book. You can do it right here. You can search by: ISNB number,
        title, author and publication year. But first you need to sign in.
        <p>
      <a href="{{ url_for('registration_form') }}">If you are new to our website please
        sign up so that you can add a review and put a mark for a book</a>
    </p>
    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#signin" role="button" aria-expanded="false" aria-controls="collapseExample">
        Sign in
      </a>
    </p>
    <div class="collapse" id="signin">
      <div class="card card-body">
        <form class="" action="{{ url_for('sign_in') }}" method="post">
          <div class="form-group">
            <input class="form-control" type="text" name="regusername" placeholder="Enter your username">
            <input class="form-control" type="password" name="regpassword" placeholder="Enter your password">
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
{% endblock %}
