{% extends "layout.html" %}

{% block heading %}
    These books were published in {{ year }}:
{% endblock %}

{% block body %}
<p>
  You have signed in as <a href="{{ url_for('username', username_id=username_id)}} ">{{ username }}</a>.
  <a href="{{ url_for('index') }}">Sign out</a>
</p>

    <p>
      <ol>
        {% for r in res %}
          <li>
            <a href="{{ url_for('book', book_id=r.id, username_id=username_id) }}">
              '{{r.title}}' by {{r.author}}
            </a>
          </li>
        {% endfor %}
      </ol>
    </p>

    <button type="button" class="btn btn-primary" onclick="goBack()">Go back</button>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
{% endblock %}
